.dragMeTwo {
  position: absolute;
  top: 90%;
  left: 90%;
  /* transform: translate(-50%, -50%) ; */
  transform: translate(-50%, -50%) rotate(45deg);
  z-index: 5;
  animation: shakeX 0.6s ease-in-out infinite;
}

.dragMeTwo img {
  transform: translate(-50%, -50%) rotate(90deg);
  width: 10rem;
}

.mainParent {
  padding: 40px;
  max-width: 1600px;
  margin: 0 auto;
  user-select: none;
}

.contentRoot {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.logoDiv {
  /* margin-bottom: 40px; */
  position: absolute;
  left: 1rem;
  top: 0;
}

.logoImg {
  max-width: 250px;
  height: auto;
}

.card {
  width: 100%;
  /* max-width: 700px; */
  padding: 40px;
  border-radius: 24px;
  background: pink;

  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

.setContent {
  display: flex;
  flex-direction: row;
  margin-top: -1rem;
  gap: 2rem;
  width: 100%;
}

/* Needle Styles */
.needle {
  position: absolute;
  bottom: 9.5px;
  left: 50%;
  width: 4px;
  height: 23rem;
  /* transform: translateX(-50%) rotate(-90deg); */
  transform: translateX(-50%) rotate(-90deg);
  transform-origin: bottom center;
  background: linear-gradient(180deg, #ffff 0%, blue 100%);
  border-radius: 4px 4px 0 0;
  border: 1px solid #ffff;
  z-index: 2;
  transition: transform 0.4s cubic-bezier(0.22, 0.61, 0.36, 1);
  pointer-events: auto;
  touch-action: none;
  user-select: none;
}

.needleTwo {
  position: absolute;
  bottom: 9.5px;
  left: 50%;
  width: 4px;
  /* height: 19rem; */
  height: 23rem;
  transform: translateX(-50%) rotate(90deg);
  transform-origin: bottom center;
  /* background: linear-gradient(180deg, #f60909 0%, rgb(250, 51, 12) 100%);  */
  background: linear-gradient(180deg, #ffff 0%, blue 100%);

  border-radius: 4px 4px 0 0;
  border: 1px solid #ffff;
  z-index: 0;
  transition: transform 0.4s cubic-bezier(0.22, 0.61, 0.36, 1);
  pointer-events: auto;
  touch-action: none;
  user-select: none;
}

/* .needle:hover {
    background: linear-gradient(180deg, #ff6666 0%, #cc0000 100%); 
    filter: drop-shadow(0 3px 8px rgba(0, 0, 0, 0.6)); 
  } */

.allScroll {
  cursor: all-scroll;
  cursor: grab;
}


.protractorContainer {
  position: relative;
  width: 100%;
  max-width: 800px;
  margin: 40px 0;

  touch-action: none;
}

.protractorImage {
  width: 100%;
  height: auto;
  display: block;
}

/* Center Point */
.centerPoint {
  position: absolute;
  bottom: 2px;
  z-index: 10;
  left: 50%;
  width: 14px;
  height: 12px;
  background-color: blue;
  border-radius: 50%;
  transform: translateX(-50%);
  filter: drop-shadow(0 2px 6px rgba(0, 0, 0, 0.5));
}

.errorMessage {
  color: #ff4444;
  font-size: 1.4rem;
  font-weight: bold;
  text-align: center;
  animation: fadeIn 0.3s ease-in-out;
  padding: 10px;
  background-color: rgba(255, 68, 68, 0.1);
  border-radius: 6px;
}

.inputCard {
  /* width: 100%; */
  display: flex;
  /* justify-content: center; */
  justify-content: center;
  align-items: center;
  /* gap:0.5rem; */
  flex-direction: column;
}

.inputContainer {
  display: flex;
  align-items: center;
}

.inputGroup {
  display: flex;
  align-items: center;
  border: 1px solid #ccc;
  border-radius: 10px;
  /* padding: 8px; */
}

.productorDiv {
  width: 100%;
  cursor: default;
}

.contPa {
  /* width: 50%; */
}
.fullBtn{
  cursor: pointer;
  width: 100%;
  display: flex;
  justify-content: end;
  margin-top: -1rem;
}

.timeInput {
  width: 100px;
  padding: 12px;
  font-size: 1.4rem;
  border: none;
  outline: none;
  text-align: center;
}

.inputError {
  border-color: #ff4444;
}

.degreeSymbol {
  font-size: 1.4rem;
  position: absolute;
  /* margin-left: 6%;
      margin-top: -1%; */
  color: #ffff;
  right: 1.5rem;
  top: 0.3rem;
}

.timeInWords {
  margin-top: 15px;
  font-size: 18px;
  text-align: center;
  color: #fff;
  font-style: italic;
  min-height: 24px;
}

.cardClockName {
  width: 300px;
  /* height: 220px; */
  /* background-color: rgb(255, 255, 255); */
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px 30px;
  gap: 13px;
  position: relative;
  overflow: hidden;
  /* box-shadow: 2px 2px 20px rgba(0, 0, 0, 0.062); */
  color: palevioletred;
}

.timeInput::-webkit-outer-spin-button,
.timeInput::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.title {
  font-size: 20px;
}

.inputWithDegree {
  position: relative;
  display: inline-block;
}

.inputWithDegree::after {
  /* content: "°"; */
  position: absolute;
  right: 30px;
  top: 30%;
  transform: translateY(-50%);
  pointer-events: none;
  font-size: 1.2rem;
  color: #ffff;
  font-weight: bolder;
}

.timeInput {
  /* margin-top: 20px; */
  padding: 10px;
  font-size: 18px;
  text-align: center;
  width: 100px;
  /* border: 2px solid #ff7a18; */
  border-radius: 0.375rem;
  outline: none;
  border: none;
  background-color: rgb(249, 157, 188);
  border-radius: 10px;
  color: #fff;
  font-family: Varela Round;
  /* content: "°"; */

}

/* media query start */
@media (min-width: 1440px) {
  .card {
    max-width: 100%;
    padding: 16px;
    width: 100%;
  }

  .productorDiv {
    width: 100%;
  }

}

@media (min-width: 1280px) and (max-width: 1440px) {
  .card {
    max-width: 100%;
    padding: 30px;
    width: 100%;
  }

  .productorDiv {
    width: 100%;
  }

}

@media (max-width: 1280px) {
  .card {
    max-width: 100%;
    padding: 30px;
    width: 100%;
  }

}

@media (max-width: 1024px) {
  .card {
    max-width: 100%;
    padding: 30px;
    width: 100%;
  }

  .productorDiv {
    width: 100%;
  }

  .needle {
    width: 5px;
    height: 23rem;
  }

  .needleTwo {
    width: 5px;
    height: 23rem;

  }

}


@media (max-width: 768px) {
  .mainParent {
    padding: 25px;
  }

  .card {
    max-width: 100%;
    padding: 30px;
    width: 100%;
  }

  .needle {
    width: 5px;
    height: 9.5rem;
  }

  .protractorContainer {
    max-width: 400px;
  }

  .logoImg {
    max-width: 200px;
  }

  .timeInput {

    margin: 0;
    width: 90px;
    font-size: 1.2rem;
  }

  .productorDiv {
    width: 100%;
  }


}

@media (max-width: 700px) {
  .mainParent {
    padding: 25px;
  }

  .card {
    max-width: 100%;
    padding: 30px;
    width: 100%;
  }
}

@media (max-width: 600px) {
  .mainParent {
    padding: 20px;
  }

  .card {
    max-width: 100%;
    padding: 25px;
    /* width: 87%; */
  }

  .cardClockName {
    width: 200px;

  }

  .needle {
    width: 3px;
    height: 6.5rem;
  }

  .protractorContainer {
    max-width: 350px;
  }

  .logoImg {
    max-width: 180px;
  }

  .timeInput {
    /* width: 80px; */
    font-size: 1.1rem;
  }

  .setContent {
    display: flex;
    flex-direction: column;
    width: 100%;
  }
}

@media (min-width: 430px) and (max-width: 580px) {


  .card {
    max-width: 100%;
    padding: 30px;
    width: 100%;
    margin-left: 50px;
  }
}

@media (max-width: 430px) {
  .card {
    max-width: 100%;
    padding: 25px;
    width: 92%;
    margin-left: 10px;
  }

  .productorDiv {
    width: 100%;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}